
input, textarea, select {
    appearance: none;

    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);

    padding: .75rem 1rem;

    font: var(--text);
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block;
    margin-bottom: .25rem;
}


input:focus, textarea:focus, select:focus, input[type="date"]:focus-within {
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
    outline-offset: .1px; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"] {
    background-image: url(../../assets/icons/calendar-03.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.25rem;
}

select {
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

.address .flex {
    gap: 1.25rem;
}

.input-wrapper:has([disabled]){
    opacity: 0.5;
}

input[disabled] {
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);
    color: var(--text-primary);
}


input:invalid {
border: 0.125rem solid var(--semantic-error);
}


input + small {
    font: var(--text-sm);
    color: #78716c;

    display: inline-block;
    margin-top: 0.25rem;
}


.error {
    display: none;
}


.input-wrapper:has(input:invalid) .error {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font: var(--text-sm);
    color: var(--semantic-error);
    margin-top: 0.25rem;
}